.square{
      width: 30px;
      height: 30px;
      background-color: #918aef;
}
.red {
  background-color: #a33;
}

.color_2{
  background-color: #ff008b;
}
.color_1{
  background-color: #0b092d;
}
